@font-face {
    font-family: 'iconfont';  /* Project id 3401406 */
    src: url('//at.alicdn.com/t/font_3401406_scdljek5umm.woff2?t=1652537104742') format('woff2'),
    url('//at.alicdn.com/t/font_3401406_scdljek5umm.woff?t=1652537104742') format('woff'),
    url('//at.alicdn.com/t/font_3401406_scdljek5umm.ttf?t=1652537104742') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .18rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
