@font-face {
    font-family: 'iconfont';  /* Project id 3401406 */
    src: url('//at.alicdn.com/t/font_3401406_plc0ujyo4sm.woff2?t=1652854592263') format('woff2'),
    url('//at.alicdn.com/t/font_3401406_plc0ujyo4sm.woff?t=1652854592263') format('woff'),
    url('//at.alicdn.com/t/font_3401406_plc0ujyo4sm.ttf?t=1652854592263') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: .18rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
